
// @font-face {
//     font-family: 'Lato-B';
//     src: url('../font/LatoB.ttf') format('truetype');
//     font-weight: normal;
//     font-style: normal;
// }


h1,h2,h3,h4,h5,h6 {
    text-align: center;
}

.H4like {
    font-size: 20px;
    display: block;
}

a {
    color: $a-color;

    &:hover {
        color: $a-color-hover;
    }
}